<%= form_for([current_user, @todolist]) do |t| %>

  <% if @todolist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todolist.errors.count, "error") %> prohibited this todolist from being saved:</h2>

      <ul>
      <% @todolist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= t.label :description %><br />
    <%= t.text_field :description %>
  </div>
  <div class="field">
    <%= t.label :priority %><br />
    <%= t.number_field :priority %>
  </div>
  <div class="actions">
    <%= t.submit %>
  </div>
<% end %>

