<h1>Listing todolists</h1>

<table>
  <tr>
    <th>Description</th>
    <th>User</th>
    <th>Priority</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @todolists.each do |todolist| %>
  <tr>
    <td><%= todolist.description %></td>
    <td><%= todolist.user.email %></td>
    <td><%= todolist.priority %></td>

    <td><%= link_to 'Show', user_todolist_path(current_user, todolist) %></td>
    <td><%= link_to 'Edit', edit_user_todolist_path(current_user, todolist) %></td>
    <td><%= link_to 'Destroy', [current_user, todolist], confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>
    
<br />

<%= link_to 'New Todolist', new_user_todolist_path(current_user) %>